body, html {
	height: 100%;
	font-family: 'Alegreya Sans', sans-serif;
}

.text-danger {
    display:none;
 }
.btn {
	transition: all 0.3s ease-in-out;
}

.card {
	margin-bottom: 15px;
}

@media (max-width: 768px) {
	#header {
		text-align: center;
	}
	#social {
		text-align: center;
	}
	#social hr {
		margin: 8% auto;
	}
}

#navigation-small {
	visibility: hidden;
}

.navbar {
	background-color: rgba(10, 15, 16, 0.95);
	/* background: linear-gradient(to left, rgba(10, 15, 16, 0.5) 80%, #fff 20%); */
	border-bottom: 6px solid #FFBC2B;
	font-family: 'Alegreya Sans', sans-serif;
	margin: 0;
	padding-right: 50px;
}

.navbar ul > li {
	margin: 0 15px;
}

.navbar .navbar-nav .nav-link {
	color: rgb(234, 228, 228);
}

.navdivider {
		color: #ffffff;
		opacity: 0.3;
		margin: 0 5px 0 5px;
}

.navbar .navbar-nav .nav-link:hover {
	color: rgba(255,188,43,1);
}

.navbar-toggler {
	color: #fff;
}

a.linkButton {
	background: linear-gradient(to left, rgba(10, 15, 16, 1) 50%, rgba(255,188,43,1) 50%);
	text-decoration : none;
	top:0;
	padding: 2px 12px;
	margin: 0 15px;
	border-radius: 10px;
}

#matchme {
	font-size: 100px;
	text-align: center;
}
#total {
	font-size: 100px;
	font-weight: 900;
	color: #FFBC2B;
	text-align: center;
}

a.linkButton:hover {
	background: linear-gradient(to left, rgba(255,188,43,1) 50%, rgba(10, 15, 16, 1) 50% );
	text-decoration : none;
	top:0;
	padding: 2px 12px;
	margin: 0 15px;
	border-radius: 10px;
}

a.linkButton h1 {
	font-family: 'Lato', sans-serif;
	font-size: 32px;
	letter-spacing: 2px;
  	background:linear-gradient(to left, #F5BE4D 50%, #0a0f10 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a.linkButton h1:hover {
	font-family: 'Lato', sans-serif;
	font-size: 32px;
	letter-spacing: 2px;
  	background:linear-gradient(to left, rgba(10, 15, 16, 1) 50%, rgba(255,188,43,1) 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


/* header */
#header {
 	background: url(../images/hero.jpg) center center no-repeat;
 	background-size: cover;
 	height: 100%;
 	color: #1a1a1a;
 	display: flex;
    align-items: center;

 }

 #header img {
 	padding: 0 0 20px;
 	width: 80%;
}

 #header .header-left {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 30px;
    /* border-radius: 10px; */

}

#header .header-right {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 30px;
    /* border-radius: 10px; */

}

#header .fa {
	margin: 5% 0;
}

#header a .fa {
	color: #ffffff;
}

#header a .fa:hover {
	color: rgba(255,188,43,1);
}

 /* SOCIAL Section*/
#social {
	padding: 5rem 0;
	background: #f6f6f6;
}

#social .fab {
	font-size: 3em;
	color: rgb(3, 3, 3);
	border: 2px solid rgb(78, 75, 67);
	width: 100px;
	height: 100px;
	border-radius: 25%;
	text-align: center;
	padding: 25% 0;
	margin-top: 10px;
	transition: all .4s ease-in-out;
}

#social .fab:hover {
	color: #ffffff;
	background: #FFBC2B;
	border: 2px solid rgb(241, 144, 0);
}
#social .far {
	font-size: 3em;
	color: rgb(3, 3, 3);
	border: 2px solid rgb(78, 75, 67);
	width: 100px;
	height: 100px;
	border-radius: 25%;
	text-align: center;
	padding: 25% 0;
	margin-top: 10px;
	transition: all .4s ease-in-out;
}

#social .far:hover {
	color: #ffffff;
	background: #FFBC2B;
	border: 2px solid rgb(241, 144, 0);
}

/* PROJECTS */
#work {
	padding: 5rem 0;
}

#skills {
	padding: 5rem 0;
}

#skills ul .no-bullets {
	list-style-type: none;
}

#skills li:hover {
	transition: all 0.3s;
	background-color: #f6f6f6;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#skills ul > li .ability-title {
	width: 60%;
	display: inline-block;
	padding: 3px;
}

#skills ul > li .ability-score {
    float: right;
    color: #FFBC2B;
}

hr {
	width: 50%;
}

.items {
	width: 150px;
	height: 150px;
	padding:5px;
	margin: 10px;
}

.crystals img {
	height: 100px;
	width: 100px;
}

/* */
#who {
	padding: 5rem 0;
}

#work .work-img {
	position: relative; /* what we r doing is positioning the overlay absolutely within the top block of the card*/
}

#work .work-img .img-overlay {
	position: absolute; /* relative to its nearest element */
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	background-image: url(../img/eye.png);
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0;
	z-index: 0;
	transition: all 0.4s ease-in-out;
}

#work .work-img .img-overlay:hover {
	opacity: 1;
	z-index: 1;
}

#work .card .card-title {
	color: #FFBC2B;
	font-weight: 600;
}

#footer {
	padding: 5rem 0;
	background-color: #1a1a1a;
	color: #ffffff;
}

#footer a {
	padding: 5px;
	color: #FFBC2B;
}

#footer-copyrights p {
	margin: 0;
    color: #ffffff;
}

#footer-bottom p {
	margin-top: 40px;
	text-align: center;
}

#footer a:hover {
	color: #ffffff;
}

#footer .footer-right {
	background-color: rgba(0,0,0,0.6);
	padding: 30px;
	border-radius: 10px;
}

form .form-control {
    background: transparent;
    border-radius: 0;
    border-color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    color: #ffffff;
}

#contact-left h3, #contact-right h3 {
    color: #ffffff;
    font-size: 27px;
    font-weight: 700;
}

#contact-left p {
    color: #ffffff;
    margin-bottom: 30px;
}

address {
    color: #ffffff;
}

address strong,
#phone-fax-email strong {
    letter-spacing: 1px;
}

#alphabetBoard {
  background: rosybrown;
  margin: 15px;
  padding: 0;
  max-width: 900px;
}

#alphabetBoard li {
  float: left;
  margin: 0 10px 10px 0;
  color: #1a1a1a;
  list-style: none;
  border-radius: 15px 5px;
  width: 35px;
  height: 30px;
  text-align: center;
  padding-top: 2px;
  background:#ffffff;
  /* cursor: pointer; */
  border: solid 1px #ffffff;
}

#alphabetBoard li:hover{
      background-color:#6ba1f2;
      color: #ffffff;
      border: solid 1px #7fefe7;
}

#gamingButtons {
	display: none;
}
.active {
  opacity: 0.1;
  pointer-events: none; /* will disable the buttons*/
}

.active:hover{
  cursor:not-allowed;
  pointer-events: none;
  background-color: #2d2d2d;
  transition: -moz-transition: all 1s ease-in;
  transition: -moz-transition:all 0.3s ease-in-out;
  transition: -webkit-transition:all 0.3s ease-in-out;
}

#my-word {
  font-family: 'Libre Baskerville', serif;
  color: #1a1a1a;
  font-size: 25px;
  margin: 0;
  display: block;
  padding: 0;
  display:block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}

#livesLeft{
  font-size:1.6em;
  text-align:left;
  display:block;
}

button {
  background: #1a1a1a;
  color: #ffffff;
  border: solid 1px #ffffff;
  border-radius: 30px;
  text-decoration:none;
  cursor:pointer;
  font-size:1.2em;
  padding:18px 10px;
  width:300px;
  margin: 10px;
  outline: none;
}
button:hover {
      background:#ffffff;
      border: solid 1px #ffffff;
      color: #f4ccab;
}

